
#background {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 800px;
    background-image: url('visual/src/small-background-beach.gif');
    background-color: blue;
    background-size: cover ;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    width: 1100px;
    margin: 0;
    margin-top: 15px;
    font-size: 0.7em;
}

#answer {
    width: 350px;
    display: block;
    margin: auto;
    border: none;  
    background: transparent;
    border-bottom: solid black 3px;
    font-size: 1em;
    padding-bottom: 10px;
    margin-top: 40px;
    outline: none;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: black
}

::placeholder{
    color: white;
    opacity: 10;
    font-size: 0.8em;
    text-align: center;
    font-family: 'Press Start 2P';
}

#question {
    font-size: 1.6em;
    margin-top: 20px;
    text-align: center;
    line-height: 2.8em;
}

#question span {
    font-weight: bold;
    color: red;
    text-shadow: 3px 3px white;
}

#words {
    width: 1100px;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.word {
    font-size: 1em;
    color: white;
    margin: 10px;
    text-shadow: 2px 2px red;
}

#union-jack {
    height: 150px;
    position: absolute;
    object-position: left;
    left: 30px;
    bottom: 80px
}

#danish-flag{
   height: 150px;
   position: absolute;
   object-position: left;
   left: 30px;
   bottom: 80px
}

#lang{
    width: 2.5%;
}


#score {
    font-size: 1.1em;
    margin-top: 15px;
    text-align: right;
    color: white;
}

#game-over {
    color: red;
    text-shadow: 3px 3px white;
}

#victory {
    color: blue;
    text-shadow: 3px 3px red;
}
